{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename="styles/style.css") }}">
{% endblock %}

{% block header_content%}
<div>
    <img src="{{ url_for('static', filename='images/feather.png') }}" alt="application logo" id="app-logo">
    <img src="{{ url_for('static', filename='images/no_ordinary_notes_name.png') }}" alt="styled application name" id="app-name">
</div>
<form>
    <input type="text" name="note_search" placeholder="Search for your notes">
    <button type="submit">Search</button>
</form>
<a href="{{ url_for('auth.account_details', user_UUID=user_id) }}">
    <img src="{{ url_for('static', filename='images/person.png') }}" alt="account details" id="github-logo">
</a>
{% endblock %}

{% block main_content %}
    {% if current_user.is_authenticated %}
    <div id="notes-list-container">
        {% block notes_list %}
            <div id="new-note-btn">
                <a href="{{ url_for('note_view.new_note', user_UUID=user_id) }}">
                    <p>+ Add note</p>
                </a>
            </div>
            {% if notes_arr %}
                {% for note in notes_arr %}
                <div class="notes-list-member">
                    <a href="{{ url_for('note_view.note_view', user_UUID=user_id, note_UUID=note[1]) }}">
                        <p>{{ note[0] }}</p>
                    </a>
                </div>
                {% endfor %}
            {% else %}
            <div><p>No notes yet...</p></div>
            {% endif %}
        {% endblock %}
    </div>
    <div id="note-container">
        {% block note %}
        <h2>No notes are opened yet...</h2>
        {#{ text|safe }#}
        {% endblock %}
    </div>
    {% endif %}
{% endblock %}
